* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root 
{
    --primary-color: #2A0A11;
    --secondary-color: #969CA3;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    padding: 10px;
    top: 0;
    background-color: var(--secondary-color);
    z-index: 9999;
}

header a {
    text-decoration: none;
    color: white;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
}

header nav {
    margin: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    font-weight: bold;
    margin: 10px;
    padding: 10px 50px;
    font-size: 25px;
}

header nav ul li a:hover {
    background-color: var(--primary-color);
}

.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
}

.hero img {
    max-inline-size: 30%;
}

.section-title {
    display: flex;
    justify-content: start;
    font-size: 40px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 3px solid;
}

.about {
    margin: auto;
    max-width: 30%;
    font-size: 20px;
}

.hero h2 {
    position: absolute;
    font-size: 80px;
    margin: 50px;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 10px;
    background-color: var(--secondary-color);
    font-size: 20px;
}

.project-info {
    margin: auto;
    padding: 50px;
    background: var(--primary-color);
    max-width: 500px;
    max-height: 500px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
}

#primary-card {
    width: 100%;
}

.card {
    background-color: var(--primary-color);
    padding: 5px;
    margin: 25px;
}

.card a {
    text-decoration: none;
    color:white;
}

.card h3 {
    position: absolute;
    background-color: var(--primary-color);
    margin: 50px 0;
    padding: 25px;
    font-size: 30px;
    max-width: 250px;
}

.contact {
    width: 60%;
    margin: auto;
    padding: 20px 50px;
}

footer {
    background-color: var(--primary-color);
    font-size: 20px;
}