* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root 
{
    --primary-color: #2A0A11;
    --secondary-color: #969CA3;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    padding: 10px;
    top: 0;
    background-color: var(--secondary-color);
    z-index: 9999;
}

header a {
    text-decoration: none;
    color: white;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
}

header nav {
    margin: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    font-weight: bold;
    margin: 10px;
    padding: 10px 50px;
    font-size: 25px;
}

header nav ul li a:hover {
    background-color: var(--primary-color);
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    font-size: 20px;
}

.hero img {
    max-width: 30%;
}

.about {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: start;
margin: 10px;
}

.about h2 {
    font-weight: bold;
    font-size: 80px;
}

.about-info {
    width: 40%;
    padding: 50px;
    margin: auto;
}

.section-title {
    font-size: 40px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 3px solid;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px 10px;
    background-color: var(--secondary-color);
    font-size: 20px;
}

.project-info {
    margin: auto;
    padding: 50px;
    background: var(--primary-color);
    width: 500px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
}

#primary-card {
    width: 100%;
}

.card {
    display: flex;
    background-color: var(--primary-color);
    padding: 5px;
    margin: 30px;
    text-decoration: none;
    color:white;
    width: 40%;
    min-width: 300px;
}

.card-info {
    position: absolute;
    background-color: var(--primary-color);
    margin: 50px 0;
    padding: 25px;
    width: 250px;
    opacity: 0.7;
}

.card:hover .card-info{
    opacity: 1;
}

.card-info h3 {
    font-size: 30px;
    border-bottom: 1px solid;
}

.card img {
    width: 100%;
}

.cover:empty {
    background-color: rgb(150,156,163);
}

.contact {
    width: 60%;
    margin: auto;
    padding: 20px 50px;
}

.contact a {
    text-decoration: none;
    font-style: normal;
    color: white;
}

.contact a:hover {
    color: blue;
}

footer {
    background-color: var(--primary-color);
    font-size: 20px;
}

@media screen and (max-width: 980px) {
    header {
        position: relative;
    }

    .hero {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero img {
       max-width: 60%;;
    }

    .about h2 {
        margin: auto;
    }

    .about-info {
        padding: 50px 0;
        width: 60%;
    }

    .card {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    header h1 {
        padding: 5px;
        border-bottom: 3px solid var(--primary-color);
    }

    .hero img {
        max-width: 100%;
    }

    .about {
        margin: 0;
        padding: 50px;
    }

    .about h2 {
        margin: 0;
    }

    .about-info {
        width: 100%;
    }

    .projects {
        padding: 50px 0;
    }

    .project-info {
        width: 100%;
        height: auto;
    }

    .cards {
        padding-top: 50px;
        width: 80%;
    }

    .contact {
        width: 100%;
        padding: 50px;
    }
}

@media screen and (max-width: 575px) {
    header nav ul {
        justify-content: center;
    }

    header nav ul li {
        text-align: right;
        padding: 15px;
        width: 100%;
    }

    .cards {
        width: 100%;
    }
}